#THEORY QUESTIONS


1. What are data structures, and why are they important?
- A data structure is a way of organizing and storing data in a computer so that it can be accessed and used efficiently. It refers to the logical or mathematical representation of data, as well as the implementation in a computer program.
Data srtuctures are important because they provide more efficient, organised way to manage data that enables faster and optimised computation.



---

2. Explain the difference between mutable and immutable data types with examples ?
- Mutable Data type allow you to change their value or data directly without affecting their identity. whereas, immutable data type, don't allow in-place modifications and we need to create new objects of the same type with different values.
Example of mutable data type are list, set etc and immutable data type are tuples and string.
---
3.  What are the main differences between lists and tuples in Python?
- List are mutable and thus data can be modified in the list while tuples are immutable thus data cannot be modified in tupples.
List are defined using square [] bracket while tuples are defined by parantheses () .
list are used to store data where scope of modification is required while tuples are used in critical data where data modification is restricted.
---
4. Describe how dictionaries store data?
- Dictionary store data in key value pair where the value is assigned to a particular key similar to value that points to a index. A dictionary data is ordered, mutable and with unique keys.
---
5. Why might you use a set instead of a list in Python?
- Set stores unique data that means data cannot be duplicate in a set while list just allows the data to be stored with no unique element. Sets don't allow redundance while list allows.
So, Use case of set will be instead of list would at place while unique elements has to be maintained. for example, set of employee in an office.
---
6. What is a string in Python, and how is it different from a list?
- A string is a data type in python used to store a sequence of character and are immutable. while , list is a collection of different data types that is mutable and hence can be modified. example of string > name="Ramesh"
Example of list > myitem=["new", 1,2,3,True]
---
7. How do tuples ensure data integrity in Python?
- Tuples are immutable in python thus ensuring unnecessary and unwanted modification therefore, enabling the data integrity in python.
---
8. What is a hash table, and how does it relate to dictionaries in Python?
- Hash tables are a type of data structure in which the address or the index value of the data element is generated from a hash function. That makes accessing the data faster as the index value behaves as a key for the data value.Dictionary are directly related as python used to store data in hash table due to working nature of dictionary in key value pair.
---
9. Can lists contain different data types in Python?
- yes, list is a versatile and open to include different data types in python for example, integer, float, string, boolean, tuples etc.
---
10. Explain why strings are immutable in Python?
- Immutability of python strings provide them with hashing, performance optimization, safety, ease of use, etc. Thus enabling a critical role in coding in python.
---
11. What advantages do dictionaries offer over lists for certain tasks?
- Dictionary offers key value pair based access thus makes it easier for user to search and maintain the values while list being ordered but lacks easy access to values stored.
Dictionary is readable and easy to manage while list have there own sort of ways to manage the data thus making task complex.
Dictionary use case is much connected to real world where key value pairs are assigned while list just act as accumulation of data types.
---
12. Describe a scenario where using a tuple would be preferable over a list ?
- Tuples are immutable while list is mutable thus making tuple preferable where changing data is not into the picture. A scenario would be, database of aadhar card number where once number is created thereafter changing is not an option.
---
13. How do sets handle duplicate values in Python?
- Python sets are inherited from the mathematics set where dublicate values are not entertained thus making efficent use of memory and time. Sets in python make it similar and thus take only unique entity .
---
14.  How does the “in” keyword work differently for lists and dictionaries ?
-
The "in" keyword search and returns boolean value. For list the value is searched in the list whereas for dictionaries key is searched.
for example, mylist=[1,2,3,"pw",True] pw in mylist > True
    and  mydict{"name":"rohan","Class":2} rohan in mydict > False
---
15. Can you modify the elements of a tuple? Explain why or why not?
- Modification in tuples directly is not possible as tuples are immutable thus ensuring data integrity. On doing so the "TypeError" would occur.
However, to modify tuple one may typecaste the tuple to list and thus modify the new list as list are mutable.
---
16. What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where atleast one of the value is dictionary. This allows a dictionary to have a tree like structure.
 A use case could be, assigning the data of aadhar against a number.
 for example, aadhar ={123123123:{'name':"Rohan","dob":"2/2/2000}}
---
17. Describe the time complexity of accessing elements in a dictionary?
- The time complexity of retrieving a value by its key in a dictionary is O(1). This is because dictionaries use a hash table internally which allows constant time lookup.
---
18. In what situations are lists preferred over dictionaries?
- List is prefererd over dictionaries when order of the data is concerned. Also when sequencial pattern like 0,1,2,3... is required to be indexed. list are more memory efficient and offers built in operations like sorting and slicing.
---
19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
- Dictionary is unordered as they work on key value pair based approach and not on indexing based on sequenced integers. This enbles dictionary to store complex data.
The data retrieval in dictionary is done by key which returns either boolean in case of membership operator or value. This allows time complexity being O(1), ensure easy and arranged data retrieval.
---
20. Explain the difference between a list and a dictionary in terms of data retrieval ?
- list retrievs its data starting from the index 0 in interger values as they are ordered whereas the dictionary retrievs data form the associated key in the key value pair of dictionary. Data seach and retrieval time of dictionary is much faster than list as list has to search on entire data while dictionary just seach for the key.

---

#PRACTICAL QUESTIONS

In [1]:
# 1. Write a code to create a string with your name and print it
mystr="Bikrant Rawat"
print(mystr)

Bikrant Rawat

In [2]:
# 2. Write a code to find the length of the string "Hello World".
len("Hello World")

11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"
slice_str = "Python Programming"
slice_str[:3]

'Pyt'

In [4]:
# 4. Write a code to convert the string "hello" to uppercase.
upper_str = "hello"
upper_str.upper()

'HELLO'

In [5]:
# 5. Write a code to replace the word "apple" with "orange" in the string "I like apple.
replace_str="I lilke apple"
replace_str.replace("apple","orange")

'I lilke orange'

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it.
my_list=[num+1 for num in range(5)]
print(my_list)

[1, 2, 3, 4, 5]

In [9]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4].
app_list=[1,2,3,4]
app_list.append(10)
print(app_list)

[1, 2, 3, 4, 10]

In [10]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
rem_list= [1,2,3,4,5]
rem_list.remove(3)
print(rem_list)

[1, 2, 4, 5]

In [11]:
# 9.  Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
access_list =['a', 'b', 'c', 'd']
access_list[1]

'b'

In [12]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50].
rev_list=[10, 20, 30, 40, 50]
rev_list[::-1]

[50, 40, 30, 20, 10]

In [13]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.
mytuple=(100,200,300)
print(mytuple)

(100, 200, 300)

In [14]:
# 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
second_to_last_element=('red', 'green', 'blue', 'yellow')
second_to_last_element[1:]

('green', 'blue', 'yellow')

In [20]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
minimum_number=(10, 20, 5, 15)
min(minimum_number)

5

In [21]:
# 14.  Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
index_element =('dog', 'cat', 'rabbit')
for ind,name in enumerate(index_element):
  if name == "cat":
    print(ind)

1

In [22]:
# 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruit_tup= ("apple","kiwi","banana")
"kiwi" in fruit_tup

True

In [23]:
# 16.  Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set={'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

In [25]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
clear_set ={1, 2, 3, 4, 5}
print(clear_set)
clear_set.clear()
print(clear_set)

{1, 2, 3, 4, 5}
set()

In [27]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
rem_set ={1, 2, 3, 4}
rem_set.remove(4)
print(rem_set)

{1, 2, 3}

In [30]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1={1,2,3}
set2={3,4,5}
set1 | set2

{1, 2, 3, 4, 5}

In [33]:
# 20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
intsec1={1,2,3}
intsec2={2,3,4}
intsec1 & intsec2

{2, 3}

In [2]:
# 21.  Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict ={"name":"Ramesh","age":23,"city":"Delhi"}
print(my_dict)

{'name': 'Ramesh', 'age': 23, 'city': 'Delhi'}

In [9]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
org_dict= {'name': 'John', 'age': 25}
print(org_dict)
org_dict["country"]= "USA"
print(org_dict)

{'name': 'John', 'age': 25}
{'name': 'John', 'age': 25, 'country': 'USA'}

In [12]:
# 23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
asso_dict={'name': 'Alice', 'age': 30}
asso_dict["name"]

'Alice'

In [15]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
rem_dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
rem_dict.pop("age")
rem_dict

{'name': 'Bob', 'city': 'New York'}

In [16]:
# 25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
check_dict= {'name': 'Alice', 'city': 'Paris'}
"city" in check_dict

True

In [21]:
# 26. Write a code to create a list, a tuple, and a dictionary, and print them all.
new_list=[1,2,3,"Ram",True,3+7j]
new_tuple=(1,2,3,4,5)
new_dict={"name":"Ram","age":23}
print(new_list ,new_tuple ,new_dict)

[1, 2, 3, 'Ram', True, (3+7j)] (1, 2, 3, 4, 5) {'name': 'Ram', 'age': 23}

In [28]:
# 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
# result.(replaced)
import random
ran_list=[random.randint(1,100) for _ in range (5)]
ran_list.sort()
print(ran_list)

[1, 23, 25, 72, 76]

In [29]:
# 28. Write a code to create a list with strings and print the element at the third index.
creating_list= ["apple","banana","kiwi","mango","pineapple","papaya"]
creating_list[3]

'mango'

In [30]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1={"emp_id":2323,"emp_name":"Ramesh"}
dict2= {"emp_sector":"finance","emp_position":"Team Lead"}
dict1.update(dict2)
print(dict1)

{'emp_id': 2323, 'emp_name': 'Ramesh', 'emp_sector': 'finance', 'emp_position': 'Team Lead'}

In [31]:
# 30. Write a code to convert a list of strings into a set.
list_of_strings = ["SKODA","MAHINDRA","TATA","SUZUKI","HYUNDAI","VW"]
set(list_of_strings)

{'HYUNDAI', 'MAHINDRA', 'SKODA', 'SUZUKI', 'TATA', 'VW'}